# Ignore Python virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore environment variables or secrets
.env

# Ignore VS Code settings
.vscode/

# Ignore OS files
.DS_Store
Thumbs.db


#Raw data files
data/raw_data

#preprocessed data files
data/preprocess_datadata/raw_data/
data/preprocess_data/
model/fine_tune_model/
model/raw_model/
*.h5
*.hdf5
*.pkl
*.pth
*.bin
*.onnx
*.safetensors
